PORT=3000

# Veritabanı Ayarları
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=error_tracker
DB_PORT=3306

# Yapay Zeka (Gemini) Ayarları
AI_API_KEY=BURAYA_GOOGLE_GEMINI_API_ANAHTARINIZI_YAZIN
AI_MODEL=gemini-2.5-flash

# Güvenlik
JWT_SECRET=ornek_bir_gizli_anahtar_yaziniz
JWT_EXPIRES_IN=7d

ADMIN_SECRET=GUCLU_BIR_SIFRE_YAZ